html {
  width: 100%;
  height: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
}
body {
  width: 100%;
  height: 100%;
  margin: 0;
}
header {
  background-color: rgb(212, 212, 212);
  text-align: center;
  width: 100%;
  height: 40px;
  color: black;
  font-size: 35px;
  font-weight: bold;
}
.gameContainer {
  height: 90%;
  width: 100%;
}
.pOneContainer {
  background-color: rgb(140, 121, 223);
  height: 350px;
}
.playerName {
  font-size: 20px;
  font-weight: bold;
}
.pTwoContainer {
  background-color:rgb(216, 191, 124);
  height: 350px;
}
.boardContainer {
 height: 230px; 
 width: 230px;
 border: 1px solid black;
 margin: auto;
 margin-top: 20px;
 display: grid;
 grid-template-columns: repeat(10, auto);
 gap: 0px;
}
.boardLocation {
  border: 1px solid black;
  cursor: pointer;
}
.shipLocation {
  background-color: black;
}
.shipLocationCheck {
  background-color: rgb(49, 49, 49);
}
.shipLocationBad {
  background-color: red;
}
.missedAttack {
  color: black;
  background-color: grey;
}
.hitAttack {
  background-color: red;
}

@media only screen and (min-width: 800px) {
  /* .boardContainer {
    height: 330px;
    width: 300px;
   } */
 }