html {
  width: 100%;
  height: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
}
body {
  width: 100%;
  height: 100%;
  margin: 0;
}
header {
  background-color: blue;
  text-align: center;
  width: 100%;
  height: 10%;
  color: aliceblue;
}
.gameContainer {
  height: 90%;
  width: 100%;
}
.pOneContainer {
  background-color: blueviolet;
  height: 50%;
}
.pTwoContainer {
  background-color:green;
  height: 50%;

}
.boardContainer {
 height: 80%;
 width: 80%;
 border: 1px solid black;
 margin: auto;
 display: grid;
 grid-template-columns: repeat(10, auto);
 gap: 0px;
}
.boardLocation {
  border: 1px solid black;
  cursor: pointer;
}
.shipLocation {
  background-color: black;
}
.missedAttack {
  color: black;
  background-color: grey;
}
.hitAttack {
  background-color: red;
}